In [162]:
import pandas as pd
de = r"C:\Users\thegy\Documents\Studium\HS FL 4\Mining\DFs\nouns_de.csv"
en = r"C:\Users\thegy\Documents\Studium\HS FL 4\Mining\DFs\nouns_en.csv"
df = pd.read_csv(en, delimiter = ";")
#(index), count,term

print(df.iloc[200,0])
print(df.iloc[200,1])

7
Scrum

In [163]:
cats = r"C:\Users\thegy\Documents\Studium\HS FL 4\Mining\DFs\labeledclusterslow.csv"
cats = pd.read_csv(cats, delimiter = ";")
#cats: (index), cat, term, syns
i= 5
print(cats.iloc[i,0])
print(cats.iloc[i,1])
print(cats.iloc[i,2])
print(cats.iloc[i,3])

learning
nlp
nlp, natural language processing, language processing, natural language
3

In [164]:
count = {}
terms = {}
#for all terms and categorys

for j in range(len(cats)):
    #synonyms for viwed category
    cat = cats.iloc[j,1].lower()
    syns = cats.iloc[j,2].lower().split(", ")
    cnt = 0
    
    #view all terms of dataframe
    for i in range (len(df)):
        termcount = df.iloc[i,0]
        term = df.iloc[i,1].lower()
        
        #if term in synonyms for category
        if (term in syns):
            cnt += termcount
            
    if(cnt > 0):
        if(cat in terms):
            count[cat] += cnt
        else:
            count[cat] = cnt
            terms[cat]= cat

In [165]:
 #convert to series and dataframe, sort by count column descending
count = pd.Series(count)
terms = pd.Series(terms)
countdf = pd.DataFrame({'count':count, 'term':terms})
countdf = countdf.sort_values(by = 'count', ascending = False)

In [166]:
cats["count"] = 0

In [167]:
for i in range (len(countdf)):
    count = countdf.iloc[i,0]
    term = countdf.iloc[i,1]
    
    cats.loc[cats['term'] == term , 'count'] = count

In [168]:
cats
cats = cats.drop('syns', axis = 1)
cats = cats.drop('depth', axis = 1)

In [169]:
cats.to_csv(r"C:\Users\thegy\Documents\Studium\HS FL 4\Mining\DFs\manualcategorycount.csv", sep=";",decimal=",", index=False)

In [170]:
cats

                      cat                     term  count
0           deep learning                    keras      3
1           deep learning               tensorflow     11
2                learning                  pytorch     12
3                learning            deep learning      7
4                learning  arificial intellligence     23
..                    ...                      ...    ...
72    programmiersprachen                        c      5
73    programmiersprachen               java scipt      0
74  (natur)wissenschaften               statistics     69
75  (natur)wissenschaften              mathematics     72
76  (natur)wissenschaften                  physics     12

[77 rows x 3 columns]

In [171]:
for i in range (len(cats)):
    cat = cats.iloc[i,0]
    count = cats.iloc[i,2]
    for j in range (i+1,len(cats)): 
        cat2 = cats.iloc[j,1]
        if cat == cat2:
            print(i,cat,j, cat2,cats.iloc[j,0], count, cats.iloc[j,2])
            cats.iloc[j,2]+= count

0 deep learning 3 deep learning learning 3 7
1 deep learning 3 deep learning learning 11 10
2 learning 21 learning analyse 12 2
3 learning 21 learning analyse 21 14
4 learning 21 learning analyse 23 35
5 learning 21 learning analyse 16 58
6 sql 33 sql datenbanken 5 220
7 sql 33 sql datenbanken 0 225
8 sql 33 sql datenbanken 12 225
9 sql 33 sql datenbanken 24 237
10 sql 33 sql datenbanken 2 261
11 apache  51 apache  bigdata 13 0
12 apache  51 apache  bigdata 18 13
13 apache  51 apache  bigdata 101 31
14 analyse 52 analyse bigdata 19 3
15 analyse 52 analyse bigdata 17 22
16 analyse 52 analyse bigdata 66 39
17 analyse 52 analyse bigdata 8 105
18 analyse 52 analyse bigdata 101 113
19 analyse 52 analyse bigdata 6 214
20 analyse 52 analyse bigdata 0 220
21 analyse 52 analyse bigdata 74 220
22 cloud 53 cloud bigdata 3 5
23 cloud 53 cloud bigdata 35 8
24 cloud 53 cloud bigdata 14 43
25 cloud 53 cloud bigdata 25 57
26 cloud 53 cloud bigdata 23 82
27 sap 54 sap bigdata 0 3
28 sap 54 sap bigdata 0 3
29 sap 54 sap bigdata 0 3
30 sap 54 sap bigdata 1 3
31 sap 54 sap bigdata 0 4
32 sap 54 sap bigdata 0 4
33 datenbanken 55 datenbanken bigdata 263 0
34 datenbanken 55 datenbanken bigdata 23 263
36 business intelligence 57 business intelligence bwl 19 34
37 business intelligence 57 business intelligence bwl 21 53
38 projektmanagement 63 projektmanagement bwl 0 6
39 projektmanagement 63 projektmanagement bwl 10 6
40 projektmanagement 63 projektmanagement bwl 5 16
41 python 64 python programmiersprachen 11 193
42 python 64 python programmiersprachen 8 204
43 python 64 python programmiersprachen 6 212
44 python 64 python programmiersprachen 4 218
45 python 64 python programmiersprachen 12 222
46 python 64 python programmiersprachen 7 234

In [172]:
cats.to_csv(r"C:\Users\thegy\Documents\Studium\HS FL 4\Mining\DFs\manualcategorycountfinal.csv", sep=";",decimal=",", index=False)

In [173]:
cats

                      cat                     term  count
0           deep learning                    keras      3
1           deep learning               tensorflow     11
2                learning                  pytorch     12
3                learning            deep learning     21
4                learning  arificial intellligence     23
..                    ...                      ...    ...
72    programmiersprachen                        c      5
73    programmiersprachen               java scipt      0
74  (natur)wissenschaften               statistics     69
75  (natur)wissenschaften              mathematics     72
76  (natur)wissenschaften                  physics     12

[77 rows x 3 columns]